@using FlightManager.ViewModels.Flights

@model EditFlightViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Flight</h4>
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3" style="background-color:#F0F2F5">
            <div class="card-body p-4 p-md-5">
                <form asp-controller="Flights" asp-action="EditByAdmin" enctype="multipart/form-data" method="post">
                    <h4>Edit a new request.</h4>
                    <input type="hidden" asp-for="Id" />
                   <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartingLocation"></label>
                        <input asp-for="StartingLocation" class="form-control" />
                        <span asp-validation-for=" StartingLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for=" Destination"></label>
                        <input asp-for=" Destination" class="form-control" />
                        <span asp-validation-for=" Destination" class="text-danger"></span>
                    </div>                    <div class="form-group">
                        <label asp-for=" TimeTakeOf"></label>
                        <input asp-for=" TimeTakeOf" class="form-control" />
                        <span asp-validation-for=" TimeTakeOf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for=" TimeLanding"></label>
                        <input asp-for=" TimeLanding" class="form-control" />
                        <span asp-validation-for=" TimeLanding" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for=" AllSeats"></label>
                        <input asp-for=" AllSeats" class="form-control" />
                        <span asp-validation-for=" AllSeats" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for=" BusinessClassSeats"></label>
                        <input asp-for=" BusinessClassSeats" class="form-control" />
                        <span asp-validation-for=" BusinessClassSeats" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for=" UniqueNumber"></label>
                        <input asp-for=" UniqueNumber" class="form-control" />
                        <span asp-validation-for=" UniqueNumber" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="Pilots"></label>
                        <select asp-for="UserId" class="form-control" asp-items="Model.Pilots"></select>
                        @*<input type="hidden" asp-for="Techs" />*@
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
