@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/19/FlightAware_logo.svg/1200px-FlightAware_logo.svg.png" alt="alternatetext">
</div>
