################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppFlightManager/.vs/WebAppFlightManager/FileContentIndex/892a095f-81f1-4d9f-9f40-cb136b681a72.vsidx
