################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppFlightManager/.vs/WebAppFlightManager/FileContentIndex
